<footer>
  <div class="footer-container">
    <div class="footer-container__block1">
      <nav class="footer-menu1">
        <ul class="footer-menu__list">
          <li><a class="footer-menu__items" href="https://adalab.es/">Articles</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Books</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Events</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Reasons</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Tips</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-container__block2">
      <nav class="footer-menu2">
        <ul class="footer-menu__list">
          <li><a class="footer-menu__items" href="https://adalab.es/">Twitter</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Instagram</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-container__copy">
      <small>©2021</small>
      <small>we🧡components</small>
    </div>
  </div>
</footer>