<footer>
  <div class="footer-container">
    <div class="footer-container__block1">
      <nav class="footer-menu1">
        <ul class="footer-menu__list">
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Articles">Articles</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Books">Books</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Events">Events</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Reasons">Reasons</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Tips">Tips</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-container__block2">
      <nav class="footer-menu2">
        <ul class="footer-menu__list">
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Twitter">Twitter</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Instagram">Instagram</a></li>
          <li><a class="footer-menu__items" href="https://adalab.es/" title="Mastodon.social">Mastodon.social</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-container__copy">
      <small>©2021</small>
      <small>we <i class="fas fa-heart"></i> love components </small>
    </div>
  </div>
</footer>