<hero>
  <div class="hero__container" id="herosection">
  </div>

  <div class="anonymous-container">
    <div class="anonymous-container__title1">
      <h1 class="anonymous-container__title1--1">Anonymous proxy</h1>
    </div>
    <div class="anonymous-container__title2">
      <h3 class="anonymous-container__title2--2">In hac habitasse platea dictumst.</h2>
    </div>
    <div class="anonymous-container__link">
      <a class="anonymous-container__link--1" href="#reasons" title="Reasons Section">
        <img src="./assets/images/ico-scroll-down.svg" alt="down seccion" title="Reasons Section" />
      </a>
    </div>
  </div>
</hero>