<section class="looking">
    <div class="looking-container">
        <h5 class="looking-container__title1">Insomnia tips</h5>
        <h2 class="looking-container__title2">Looking through a window</h3>
            <p class="looking-container__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
                luctus ex diam nec lectus. Vivamus semper sodales rutrum.
            </p>
            <div class="looking-container__link">
                <a class="looking-container__link--item" href="https://adalab.es/" title="Go" target="_blank">Go</a>
            </div>
    </div>
</section>