@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/anonymous';
@import 'layout/looking';
@import 'layout/reasons';
@import 'layout/footer';
@import 'pages/index';



//HEADER//

.header__container{

    position: fixed;
    top: 0;
    left: 0;
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    margin: 0 94px 240px 0;
    padding: 15px 14px;
    z-index: 800;
}

//HERO//

.hero__container {
    width: 100%;
    height: 100vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.hero__container--image{
    width: 100%;
    height: 100vh;
}



//ANONYMOUS SECTION - MAIN//


.anonymous-container{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
transform:translateY(-120%);

}
.anonymous-container__title1 {
        /*background-color: blue;*/
        width: 100%;
        text-align: center;
        /*flex-wrap:wrap;*/
         

    }
    
.anonymous-container__title1--1{
        color: white;
        font-family: RobotoSlab;
        font-size: 42px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 55px;
        text-shadow: 0 2px 3px r2gba(0, 0, 0, 0.2);
        letter-spacing: normal;
        text-transform: uppercase;
        padding-bottom: 10px;

}

.anonymous-container__title2--2{
        color: white;
        font-family: Roboto;
        font-size: 16px;
        padding-bottom: 45px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }


.anonymous-container__link {
        background-color: white;
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
}

.anonymous-container__link--1{

        
}

//LOOKING SECTION - MAIN//

.looking-container{
    box-sizing: border-box;
    width: 100%;
    padding: 30px 15px 45px 15px;
    display: flex;
    flex-direction: column;
    
}

.looking-container__title1{
    padding-bottom: 1px;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 30px;
    color: #8ccbea;

}

.looking-container__title2{
    padding-bottom: 15px;
    
}

.looking-container__text{
    padding-bottom: 30px;
    
}

.looking-container__link{
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    text-align: center;
    
}




.looking-container__link--item {
    font-family: Roboto;
    font-size: 20px;
    color: #f26002;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 45px;
    letter-spacing: normal;
    padding:15px;
    text-decoration: none;
    &:hover{
        animation-name: go;
        animation-duration: 0.8s;
        animation-iteration-count: 1;
            @keyframes go {
                /*from{
                     background-color: white;
                }*/
        
                to{
                
                    border-radius: 22.5px;
                    border: solid 1px #f26002;
                    background-color: black;
                    color: white;
                }


                }
        
            }
   
    }

    